@{
  Layout="_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Add A Recipe For @User.Identity.Name</h2>

<p>Validation error message goes here</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Ingredients)
  @Html.TextBoxFor(model => model.Ingredients)
  
  @Html.LabelFor(model => model.Instruction)
  @Html.TextBoxFor(model => model.Instruction)
  
  <p>@Html.ValidationMessageFor(model => model.Rating, "", new { @style = "font-weight: 600; color: red;"})</p>
  @Html.LabelFor(model => model.Rating)
  @Html.TextBoxFor(model => model.Rating, new { @step = "1", @min = "1", @max = "5"} )

  <input type="submit" value="Add new recipe" class="btn btn-danger" id="add_recipe_btn"/>
}


<p>@Html.ActionLink("Recipe List", "Index")</p>