@{
  Layout="_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Edit Recipe</h2>

<h4>Edit this Recipe: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Ingredients)
  @Html.EditorFor(model => model.Ingredients)

  @Html.LabelFor(model => model.Instruction)
  @Html.EditorFor(model => model.Instruction)

  <input type="submit" value="Save"/>
}


<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Recipe List", "Index")</p>