@{
  Layout="_Layout";
}

@using RecipeBox.Models;

<h1>Recipes for @User.Identity.Name</h1>

@if (@Model.Count == 0)
{
  <h3>Get Started by adding a recipe</h3>
}
else
{
  <ul>
    @foreach (Recipe recipe in Model)
    {
      <li>@Html.ActionLink($"{recipe.Name}", "Details", new { id = recipe.RecipeId })</li>
    }
  </ul>
}
<hr/>
<div class="bottom_nav">
<p>@Html.ActionLink("Cuisine List", "Index", "Tags") |  @Html.ActionLink("Add a Recipe", "Create")</p>
</div>