@{
  Layout="_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Tag

<h2>Cuisine Tag Details</h2>

<h3>@Html.DisplayNameFor(model => model.Cuisine): @Html.DisplayFor(model => model.Cuisine)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This cuisine is not linked to any recipes yet.</p>
}
else
{
  <h4>Recipes that are tagged:</h4>
  <ul>
    @foreach(RecipeTag join in Model.JoinEntities)
    {
      <a href="../../Recipes/Details/@join.Recipe.RecipeId">@join.Recipe.Name</a>
      //<li>@Html.ActionLink(@join.Recipe.Name, "Details{@join.Recipe.RecipeId}", "Recipes")</li>
      @using(Html.BeginForm("DeleteJoin", "Tags"))
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}
<hr/>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Cuisine List", "Index")</p>
<p>@Html.ActionLink("Add Recipe to Cuisine", "AddRecipe", new { id = Model.TagId })</p>
<p>@Html.ActionLink("Edit Cuisine Tag", "Edit", new { id = Model.TagId })</p>
<p>@Html.ActionLink("Delete Cuisine Tag", "Delete", new { id = Model.TagId })</p>
